.headerStyle {
  text-align: center;
  background-color: white;
  /* background-image: url(image/header-bg.jpg); */
  padding-bottom: 30px;
  padding-top: 20px;
  border-radius: 0px 0px 200px 200px;
}
.welcomeTaxt {
  color: #5a5a5a;
}
